<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- MemberDto -->
        <package name="com.my.shopping.domain.member.dto"/>
        <!-- ProductDto -->
        <package name="com.my.shopping.domain.product.dto"/>
        <!-- OrderDto -->
        <package name="com.my.shopping.domain.order.dto"/>
        <!-- OrderProductDto -->
        <package name="com.my.shopping.domain.orderProduct.dto"/>
        <!-- CartDto -->
        <package name="com.my.shopping.domain.cart.dto"/>
        <!-- ReviewDto -->
        <package name="com.my.shopping.domain.review.dto"/>
    </typeAliases>
</configuration>